.items-container{
    width: 100%;
    height: 41px;
    background-color: rgb(54, 50, 50);
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: flex-start;
}
.item-icon{
    font-size: 16px;
    margin-left: 22px;
    margin-right: 10px;

}